* {
    box-sizing: border-box;
}

.budy {
    margin: 0px;
}


/*=====Links文章去除連結底線=====*/

a,
a:link,
a:visited {
    color: rgba(243, 230, 231, 0.8);
    text-decoration: none
}

a:hover {
    color: none;
    text-decoration: none;
}


/* ==========網頁背景圖案========== */

html {
    height: 100%;
}


/* 網頁背景 */

body {
    background-image: url(../img/宇宙.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


/* ===========文字格式=========== */


/* 新聞邊框 */

.news {
    padding-left: 3%;
    font-size: 14px;
    color: rgb(44, 39, 35);
    text-align: left;
    text-shadow: rgb(245, 117, 117);
    border: 2px solid rgba(150, 73, 70, 0.979);
    background-color: rgba(248, 238, 246, 0.7);
}


/* 普通黑字 */

.news0 {
    font-size: 19px;
    color: #000;
}


/* 橘色警告 */

.newsTip1 {
    font-size: 12px;
    color: rgb(177, 113, 17);
    text-shadow: 0.1em 0.1em rgb(243, 156, 75);
}


/* 紅色粗體 */

.newsTip2 {
    font-size: 12px;
    color: rgb(223, 72, 72);
    font-weight: bolder;
    text-shadow: 0em 0.04em rgb(63, 19, 19);
}


/* 橘色大字 */

.newsTip3 {
    font-size: 25px;
    text-shadow: 0em 0.05em rgb(235, 238, 225);
    color: rgb(99, 43, 5);
    font-weight: bolder;
}


/* 藍色大字 */

.newsTip4 {
    font-size: 20px;
    color: rgb(84, 17, 243);
    text-shadow: 0em 0.05em rgb(162, 172, 204);
    font-weight: bolder;
}


/* ==========最新改版消息CSS========== */


/* 改版消息DIV中圖片位置 */

.pic {
    width: 50%;
    position: relative;
    margin-left: 5%;
}


/* 改版訊息標題 */

.news-title {
    font-size: 35px;
    color: rgb(248, 234, 227);
    text-align: center;
    text-shadow: 0em 0.05em rgba(44, 10, 10, 0.8);
    background-color: rgba(252, 209, 116, 0.8);
    border: 3px solid rgba(54, 12, 88, 0.979);
    font-weight: bolder;
    opacity: 0.8;
}


/* 螢幕尺寸低於800px的設定 */

@media(max-width:800px) {
    .news-title {
        font-size: 20px;
        color: rgb(202, 78, 20);
        text-align: center;
        background-color: rgba(252, 209, 116, 0.8);
        border: 3px solid rgba(146, 21, 17, 0.979);
        font-weight: bolder;
        opacity: 0.8;
    }
}


/* ===========更新速報========== */


/* 更新速報折疊 */

.newsContent {
    font-size: 14px;
    color: rgb(44, 39, 35);
    text-align: left;
    text-shadow: rgb(245, 117, 117);
    border: 2px solid rgba(150, 73, 70, 0.979);
    background-color: rgba(248, 238, 246, 0.7);
}