* {
    box-sizing: border-box;
}

.budy {
    margin: 0px;
}


/* ==========網頁背景圖案========== */

html {
    height: 100%;
}


/* 網頁背景 */

body {
    background-image: url(../img/宇宙.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


/* ================首頁================ */


/* 主頁主Banner樣式 */

.index-banner {
    position: relative;
    margin: 0px auto;
}


/* 首頁主Banner字型圖案 */

.big-banner-text {
    font-size: 50px;
    color: rgb(243, 239, 239);
    position: absolute;
    top: 50%;
    bottom: 0%;
    left: 2%;
    text-shadow: 0.1em 0.1em black;
}


/* ==========更新訊息Banner大小位置樣式========== */


/* (最新改版.最新速報.活動)的DIV格式 */

.news-banner {
    position: relative;
    display: flex;
    padding-block-start: 5%;
    margin-bottom: 5%;
    justify-content: center;
}


/* ===========三個DIV規格&Hover效果=========== */


/* 最新改版消息 */

#news-banner1 {
    margin: 10px;
    background-image: url(../img/快銀1.jpg);
    height: 150px;
    width: 380px;
    opacity: 0.8;
    float: left;
    margin: 2%;
    background-size: cover;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}


/* 螢幕尺寸低於800px的設定 */

@media(max-width:800px) {
    #news-banner1 {
        background-image: url(../img/快銀s.jpg);
        height: 120px;
    }
}


/* 最新改版消息的Hover效果 */

#news-banner1:hover {
    height: 152px;
    opacity: 0.9;
    background-size: cover;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}


/* 最新速報 */

#news-banner2 {
    margin: 10px;
    background-image: url(../img/2.1.jpg);
    height: 150px;
    width: 380px;
    opacity: 0.8;
    float: left;
    margin: 2%;
    background-size: cover;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}


/* 螢幕尺寸低於800px的設定 */

@media(max-width:800px) {
    #news-banner2 {
        background-image: url(../img/2s.jpg);
        height: 120px;
    }
}


/* 最新速報的Hover效果 */

#news-banner2:hover {
    height: 152px;
    opacity: 0.9;
    background-size: cover;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}


/* 活動 */

#news-banner3 {
    margin: 10px;
    background-image: url(../img/冰月花雪.jpg);
    height: 150px;
    width: 380px;
    opacity: 0.8;
    float: left;
    margin: 2%;
    background-size: cover;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}


/* 螢幕尺寸低於800px的設定 */

@media(max-width:800px) {
    #news-banner3 {
        background-image: url(../img/冰月花雪s.jpg);
        height: 120px;
    }
}


/* 活動的Hover效果 */

#news-banner3:hover {
    height: 152px;
    opacity: 0.9;
    background-size: cover;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}


/* ===========更新Banner字型========== */


/*更新訊息Banner上圖片的文字 */

.text-banner {
    font-size: 35px;
    font-weight: bolder;
    color: rgb(255, 241, 241);
    text-shadow: 0.05em 0.05em rgb(0, 0, 0);
    position: relative;
    top: 70%;
    margin-left: 70px;
    z-index: 999;
    right: 20px;
}


/* 螢幕尺寸低於800px的設定 */

@media(max-width:800px) {
    .text-banner {
        font-size: 17px;
        position: relative;
        top: 30%;
        margin-left: 50px;
        z-index: 999;
        right: 20px;
    }
}


/* ===========固定7Banner圖形========== */


/* A組(上面三個) DIV */

#sevenbannerA {
    margin-left: 40px;
    justify-content: center;
    position: relative;
    display: flex;
    margin-bottom: 5%;
}

@media(max-width:800px) {
    #sevenbannerA {
        margin-left: 10px;
        justify-content: center;
        position: relative;
        display: flex;
        margin-bottom: 5%;
    }
}


/* B組(下面每兩個) DIV */

#sevenbannerB {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}


/* 7個Banner格式 */

#sevenbannerimg {
    background-color: black;
    height: 165px;
    width: 380px;
    opacity: 0.85;
    margin-right: 5%;
    border: 3px solid #DDB724;
    background-size: cover;
    border-top-left-radius: 50px;
}

@media(max-width:800px) {
    #sevenbannerimg {
        height: 100px;
        width: 100px;
    }
}


/* ===========固定7Banner字型 ==========*/


/* A組的文字DIV */

.sevenbanner-text {
    font-family: '微軟正黑體', 'arial black', sans-serif;
    color: #DDB724;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 35px;
    border-radius: 10px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 2px 2px 2px black;
}


/* 螢幕尺寸低於500px的設定 */

@media(max-width:500px) {
    .sevenbanner-text {
        font-family: '微軟正黑體', 'arial black', sans-serif;
        color: #DDB724;
        margin-top: 20px;
        margin-left: 20px;
        font-size: 25px;
        border-radius: 10px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 2px 2px 2px black;
    }
}


/* 意見調查 */

#postmen {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}


/* 意見調查信箱的圖案格式 */

#postmenPic {
    color: #DDB724;
    height: 165px;
    width: 380px;
    opacity: 0.85;
    float: left;
    margin-right: 5%;
    border: 3px solid #DDB724;
    background-size: cover;
    border-top-left-radius: 50px;
}

@media(max-width:800px) {
    #postmenPic {
        height: 100px;
        width: 200px;
    }
}