                * {
                    box-sizing: border-box;
                }
                
                .budy {
                    margin: 0px;
                }
                /*=====Links文章去除連結底線=====*/
                
                a,
                a:link,
                a:visited {
                    color: rgba(243, 230, 231, 0.8);
                    text-decoration: none
                }
                
                a:hover {
                    color: none;
                    text-decoration: none;
                }
                /* ==========網頁背景圖案========== */
                
                html {
                    height: 100%;
                }
                /* 網頁背景 */
                
                body {
                    background-image: url(../img/宇宙.jpg);
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-position: center;
                    background-size: cover;
                }
                /* ======英雄介紹格式====== */
                /* 介紹表格位置 */
                
                .introduction {
                    margin-top: 35px;
                    margin-left: 20%;
                }
                /* 介紹內容文字格式 */
                
                #introductionTr {
                    font-size: 10px;
                    font-weight: 600;
                    height: 5%;
                    width: 70%;
                    text-align: left;
                    color: rgba(35, 33, 170, 0.7);
                    background-color: rgba(231, 228, 219, 0.7);
                    border: 1px solid rgb(114, 82, 56);
                }
                /* ==========升級表格顯示方式========== */
                /* 一般升級資料外框 */
                
                .upTable {
                    height: 80%;
                    width: 100%;
                    /* margin: 10px -15%; */
                    padding: 10px 20px;
                    background: rgba(212, 220, 243, 0.7);
                    border: 6px solid rgb(114, 82, 56);
                    text-align: left;
                    font-size: 14px;
                    color: rgb(8, 12, 32);
                    text-shadow: 0.04em 0.04em rgb(124, 123, 119);
                    font-weight: bolder;
                }
                
                @media(max-width:800px) {
                    .upTable {
                        height: 180px;
                        font-size: 12px;
                        overflow: scroll;
                        margin-top: 2%;
                        margin-bottom: 0.5%;
                        padding-bottom: -20px;
                        padding-left: 6%;
                    }
                }
                /* T3升級資料格式 */
                
                .upT3Table {
                    height: 80%;
                    width: 100%;
                    margin-top: -10%;
                    margin: 10px -15%;
                    padding: 10px 100px;
                    background: rgba(212, 220, 243, 0.7);
                    border: 6px solid rgb(114, 82, 56);
                    text-align: left;
                    font-size: 14px;
                    color: rgb(8, 12, 32);
                    text-shadow: 0.04em 0.04em rgb(124, 123, 119);
                    font-weight: bolder;
                }
                
                @media(max-width:800px) {
                    .upT3Table {
                        padding: 10px 20px;
                    }
                }
                /* 覺醒升級資料格式 */
                
                .upAwaTable {
                    height: 80%;
                    width: 100%;
                    margin-top: -10%;
                    margin: 10px -15%;
                    padding: 10px 100px;
                    background: rgba(212, 220, 243, 0.7);
                    border: 6px solid rgb(114, 82, 56);
                    text-align: left;
                    font-size: 14px;
                    color: rgb(8, 12, 32);
                    text-shadow: 0.04em 0.04em rgb(124, 123, 119);
                    font-weight: bolder;
                }
                
                @media(max-width:800px) {
                    .upAwaTable {
                        padding: 10px 20px;
                    }
                }
                
                .upepicTable {
                    height: 80%;
                    width: 100%;
                    margin-top: -10%;
                    margin: 10px -15%;
                    padding: 10px 100px;
                    background: rgba(212, 220, 243, 0.7);
                    border: 6px solid rgb(114, 82, 56);
                    text-align: left;
                    font-size: 14px;
                    color: rgb(8, 12, 32);
                    text-shadow: 0.04em 0.04em rgb(124, 123, 119);
                    font-weight: bolder;
                }
                
                @media(max-width:800px) {
                    .upepicTable {
                        padding: 10px 20px;
                    }
                }
                /* 升級資料BOX位置浮動控制 */
                
                .up {
                    float: left;
                    margin-left: 40px;
                }
                /* 升級資料內容與滾輪格式 */
                
                #upDataText {
                    padding-left: 5px;
                    width: 300px;
                    height: 150px;
                    font-size: 10px;
                    font-weight: bolder;
                    overflow: auto;
                    text-align: left;
                    border: double 3px rgb(235, 231, 213);
                }
                
                @media(max-width:800px) {
                    #upDataText {
                        height: 80px;
                        overflow: scroll;
                        width: 70px;
                        margin-left: -20px;
                    }
                }
                /* 升級表格內容文字格式 */
                
                #upTextRed {
                    font-size: 15px;
                    text-shadow: 0.01em 0.01em rgb(228, 181, 181);
                    color: rgb(184, 21, 21, 0.7);
                    font-weight: bolder;
                    margin: 0px;
                }
                
                #upTextGreen {
                    font-size: 13px;
                    text-shadow: 0.01em 0.01em rgb(228, 181, 181);
                    font-weight: bolder;
                    color: rgb(49, 131, 103);
                    margin: 0px;
                }
                /* ===============選擇英雄下拉式選單格式=============== */
                
                .skinSelect {
                    width: 250px;
                    font-size: 17px;
                    font-weight: 800;
                    padding-left: 0.3%;
                    color: rgba(126, 83, 5, 0.9);
                    text-shadow: 0.01em 0.05em rgb(247, 163, 235);
                    padding-bottom: 2px;
                    background-color: rgba(238, 212, 202, 0.7);
                    border: currentColor 2px black;
                    margin-left: -19.5%;
                }
                /* ========================英雄制服================================ */
                /* 英雄頭像格式 */
                
                .skinPic {
                    margin-top: 2px;
                    margin-left: -0%;
                    margin-bottom: 0.5%;
                    border: double 6px rgb(28, 34, 2);
                }
                /* 各制服技能欄位 */
                
                .skin {
                    height: 70%;
                    margin: 1px 5%;
                    padding: 20px 2px;
                    padding-left: 1%;
                    margin-left: -20%;
                    background: rgba(212, 220, 243, 0.7);
                    border: 6px solid rgb(114, 82, 56);
                    text-align: left;
                    font-size: 14px;
                    color: rgb(15, 36, 139);
                    text-shadow: 0.04em 0.04em rgb(124, 123, 119);
                    font-weight: bolder;
                }
                
                @media(max-width:800px) {
                    .skin {
                        margin-top: 4px;
                        padding-left: 10px;
                    }
                }
                /* 技能內容文字與滾輪格式 */
                
                .skillText {
                    color: rgba(35, 33, 170, 0.7);
                    margin: 2px 1.5%;
                    width: 180px;
                    height: 85px;
                    font-size: 12px;
                    float: left;
                    font-weight: 600;
                    overflow: auto;
                    text-align: left;
                    border: double 4px rgb(34, 30, 13, 0.4);
                }
                
                @media(max-width:800px) {
                    .skillText {
                        height: 90px;
                        margin: 1% 0%;
                        width: 130px;
                    }
                }
                /* 聯動制服欄位格式 */
                
                .comboSkin {
                    color: rgb(66, 54, 109);
                    font-weight: 2000;
                    text-shadow: 0em 0.02em rgb(72, 107, 80);
                    font-size: 8px;
                    height: 135px;
                    width: 15%;
                    float: left;
                    margin: 1%;
                    margin-left: 1%;
                    overflow-y: auto;
                    padding-left: 2%;
                    border: 1px rgba(226, 207, 207, 0.1) double;
                }
                
                @media(max-width:800px) {
                    .comboSkin {
                        width: 38%;
                    }
                }
                /* 技能內容文字圖案 */
                
                #t1 {
                    font-size: 13px;
                    text-shadow: 0.01em 0.01em rgb(228, 181, 181);
                    color: rgb(184, 21, 21, 0.7);
                    font-weight: bolder;
                    margin: 0px;
                }
                
                #t2 {
                    font-size: 12px;
                    text-shadow: 0.01em 0.01em rgb(228, 181, 181);
                    font-weight: bolder;
                    color: rgb(49, 131, 103);
                    margin: 0px;
                }