*{
box-sizing: border-box;
}



.budy{
margin: 0px;
}
/* ===========導覽列=========== */
/* 首頁標題大字 */
.newsText0{
    font-size:38px;
    font-weight: bold ;
    color: rgba(238, 89, 89, 0.8);
    text-shadow: 0.01em 0.05em rgba(250, 247, 244);
    padding: 0.5px;
  }
  
/* ===========導覽列中按鈕的Hover=========== */
/* 改版資訊預設不顯示 */
.navDisplay1{
    top:-140%;
    position: absolute;
    display: inline-block;
    opacity: 0;
  }
  /* 遊戲內容預設不顯示 */
  .navDisplay2{
    top:-140%;
    position: absolute;
    display: inline-block;
    opacity: 0;
  }
  /* 改版資訊移動後出現清單 */
  .navDisplay1:hover{
    top:30%;
    margin-right: 25px;
    opacity: 0.75;
  } 
  /* 遊戲內容移動後出現清單 */
  .navDisplay2:hover{
    top:30%;
    margin-right: 25px;
    opacity: 0.75;
  } 
  /* 隱藏內容標題格式 */
  .nav-link{
  margin-right: 25px;
  } 
  /* 導覽列右邊大字 */
  .navText1{
    color: blanchedalmond;
    font-size:30px;
    text-shadow: 0em 0.1em rgb(231, 97, 25,0.6);
    text-align: center;
    display:block;
    margin-right: 50px;
  }
  /* 導覽列內容標題字 */
  .navText2{
    border: 1px solid rgba(219, 219, 223, 0.2);
    font-size:20px;
    text-align: left;
    display:block;
    background-color: rgba(248, 238, 246, 0.95);
  }

  h1{
  font-size: 20px;
  }


/* ==========網頁背景圖案========== */
html {
    height: 100%;
}

body {
    background-image: url(../img/網頁背景圖.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;  
}
/* ===========文字格式=========== */
/* 普通黑字 */
.news0{
    font-size: 14px;
    text-align-last: center;
    color: #000;
}
/* 黑色小字 */
.newsTip1{
    font-size:16px;
    color: rgb(230, 28, 28);
    font-weight: bolder ;
}

/* 黑色中粗體字 */
.newsTip2{
    font-size:17px;
    color: rgb(63, 16, 16);
    font-weight: bolder ;
}

/* 黑色字 */
.newsTip3{
    font-size:17px;
    color: rgb(14, 13, 13);
    text-shadow: 0.02em 0em rgb(245, 230, 230);
}


/* 關卡區分背景DIV */
.everyPlot{
position:relative;
display: block;
margin-top: 2%;
margin-bottom: 1%;
border:6px solid rgba(223, 20, 20, 0.815);
background-color: rgb(208, 206, 233,0.8);
border-radius: 2%;
width: 1200px;
margin:0px auto;
}
/* 各關卡 */
#plot{
position: relative;
height: 400px;
width: 1150px;
margin: 1%; 
background-size: cover;
border: 6px solid rgba(221, 148, 88, 0.5);
text-align:left;
font-size: 35px;
color: rgb(46, 36, 36);
}

/* 關卡獎勵 */
#plotGearing{
    float: right; 
    margin: -40px 10px 10px 10px;
    clear: both;
    font-size: 10px;
    padding-top: 40px;
    margin-right:140px;
    }

/* 最終關卡獎勵 */
#plotF{
  float: right; 
  margin: -40px 10px 10px 10px;
  clear: both;
  font-size: 10px;
  padding-top: 40px;
  margin-right:200px;
  }
