*{
box-sizing: border-box;
}



.budy{
margin: 0px;
}



/* ==========網頁背景圖案========== */
html {
    height: 100%;
}

body {
    background-image: url(../img/網頁背景圖.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;  
}
/* ===========導覽列=========== */
/* 首頁標題大字 */
.newsText0{
    font-size:38px;
    font-weight: bold ;
    color: rgba(238, 89, 89, 0.8);
    text-shadow: 0.01em 0.05em rgba(250, 247, 244);
    padding: 0.5px;
}

/* ===========導覽列中按鈕的Hover=========== */
/* 改版資訊預設不顯示 */
.navDisplay1{
    top:-140%;
    position: absolute;
    display: inline-block;
    opacity: 0;
}
/* 遊戲內容預設不顯示 */
.navDisplay2{
    top:-140%;
    position: absolute;
    display: inline-block;
    opacity: 0;
}
/* 改版資訊移動後出現清單 */
.navDisplay1:hover{
    top:30%;
    margin-right: 25px;
    opacity: 0.75;
} 
/* 遊戲內容移動後出現清單 */
.navDisplay2:hover{
    top:30%;
    margin-right: 25px;
    opacity: 0.75;
} 
/* 隱藏內容標題格式 */
.nav-link{
  margin-right: 25px;
} 
/* 導覽列右邊大字 */
.navText1{
    color: blanchedalmond;
    font-size:30px;
    text-shadow: 0em 0.1em rgb(231, 97, 25,0.6);
    text-align: center;
    display:block;
    margin-right: 50px;
}
/* 導覽列內容標題字 */
.navText2{
    border: 1px solid rgba(219, 219, 223, 0.2);
    font-size:20px;
    text-align: left;
    display:block;
    background-color: rgba(248, 238, 246, 0.95);
}
/* ===========文字格式=========== */
/* 普通黑字 */
.news0{
    font-size: 14px;
    text-align-last: center;
    color: #000;
}
/* 紅色大字 */
.newsTip1{
    font-size:35px;
    color: rgb(223, 30, 30);
    text-shadow: 0em 0.05em rgb(243, 245, 250);
    font-weight: bolder ;
}
/* 藍色大字 */
.newsTip2{
    font-size:35px;
    color: rgb(117, 60, 240);
    text-shadow: 0em 0.05em rgb(243, 245, 250);
    font-weight: bolder ;
}
/* 綠色大字 */
.newsTip3{
    font-size:35px;
    color: rgb(15, 107, 46);
    text-shadow: 0em 0.05em rgb(243, 245, 250);
    font-weight: bolder ;
}
/* 紫色大字 */
.newsTip4{
    text-align: center;
    position: relative;
    font-size:30px;
    padding-bottom: 0.5%;
    color: rgb(202, 74, 80,0.9);
    text-shadow: 0em 0.05em rgb(243, 245, 250);
    font-weight: bolder ;
    border:15px solid rgba(148, 23, 23, 0.9);
    border-style:double;
    background-color: rgba(196, 182, 155, 0.7);
    border-radius: 8%;
}
/* H1大字 */
h1{
    font-size: 12px;
}

/*物品類型選單DIV */
.article{
    width: 100%;
    height: 100%;
    position:relative;
    display: block;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-left: 2%;
    border:15px solid rgba(250, 234, 234, 0.5);
    border-style:double;
    background-color: rgba(207, 171, 200, 0.8);
    border-radius: 8%;
}
/* 物品圖片 */
#articlePic{
    margin-right: 2%;
    float: left;
}
